@import url("https://fonts.googleapis.com/css2?family=Andika:ital@1&display=swap");
.references {
  max-width: 1000px;
  display: block;
  margin: 0 auto;
  font-family: "Andika", sans-serif;
  font-size: 8px;
}
a {
  color: #f6851f;
  text-decoration: none;
}
a:visited {
  color: #144272;
}
