@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap");
:root {
  --day-color: #d6e5e5;
  --night-color: #0b2748;
  --secondary-night-color: #144272;
  --third-night-color: #2c74b3;
  --primary-color: #74cccf;
  --secondary-color: #f6851f;
  --main-font-size: 56px;
}

a {
  color: var(--secondary-color);
  text-decoration: none !important;
}
a:visited {
  color: #ef4823 !important;
  text-decoration: none !important;
}
a:hover {
  color: var(--secondary-color) !important;
}
img {
  display: block;
  margin: 0 auto;
}
.Weather {
  max-width: 1100px;
  border: 1px solid var(--night-color);
  border-radius: 10px;
  margin: 0 auto;
  display: block;
  font-family: "East Sea Dokdo", cursive;
  line-height: 1.5;
  background-color: var(--day-color);
  text-transform: capitalize;
}

.main-body {
  max-width: 900px;
  border: 1px solid var(--night-color);
  border-radius: 2px;
  display: block;
  margin: 60px auto;
  background-color: white;
}

.unit,
.feel-unit {
  color: var(--secondary-color) !important;
  text-decoration: none !important;
}

.city {
  font-size: var(--main-font-size);
}
.current-temperature {
  font-size: var(--main-font-size);
}
.feel-temperature {
  font-size: 32px;
}
.unit {
  position: relative;
  top: -12px;
  font-size: 24px;
}
.feel-unit {
  position: relative;
  top: -1px;
  font-size: 18px;
}
.fontawesome-description {
  font-size: 14px;
  position: relative;
  top: -4px;
  color: var(--secondary-color);
}
.fontawesome-humidity {
  position: relative;
  top: 5px;
  color: var(--primary-color);
}

.Weather.dark-theme {
  background-color: var(--night-color);
  color: var(--day-color);
}
.main-body.dark-theme {
  background-color: var(--third-night-color);
}
.forecastBox.dark-theme {
  background-color: var(--secondary-night-color) !important;
}
.search-box,
.date,
.feel-like,
.description {
  font-size: 28px;
}
.forecastBox {
  border: 1px solid var(--night-color);
  border-radius: 5px;
  margin: 0 auto;
  display: block;
  background-color: var(--day-color);
  color: #0b2748;
  font-size: 22px;
}
.temp {
  position: relative;
}

.minTemp {
  opacity: 0.7;
}
.show-more-box {
  color: #0b2748;
}

.show-button {
  display: block !important;
  margin: 20px auto;
  font-size: 18px !important;
}
.show-button.dark-theme {
  background-color: var(--secondary-night-color);
  color: var(--day-color);
}
@media (max-width: 980px) {
  .main-body {
    max-width: 600px;
    margin: 30px auto;
  }
  .minTemp,
  .maxTemp {
    font-size: 14px;
  }
  .city {
    font-size: 48px;
  }
  .current-temperature {
    font-size: 40px;
  }
  .feel-temperature {
    font-size: 18px;
  }
  .unit {
    position: relative;
    top: -12px;
    font-size: 16px;
  }
  .feel-unit {
    font-size: 14px;
  }
  .fontawesome-description {
    font-size: 10px;
  }
  .search-box,
  .date,
  .feel-like,
  .description {
    font-size: 14px;
  }
}
