@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap");
:root {
  --day-color: #d6e5e5;
  --night-color: #0b2748;
  --secondary-night-color: #144272;
  --third-night-color: #2c74b3;
  --primary-color: #74cccf;
  --main-font-size: 64px;
}
body {
  text-transform: capitalize;
}
a {
  color: #f6851f;
  text-decoration: none;
}
a:visited {
  color: #144272;
}
.unit {
  color: #febf10 !important;
  text-decoration: none !important;
}
.btn-link:visited {
  color: #144272 !important;
}
.unit {
  font-size: 24px !important;
}
.city {
  font-size: var(--main-font-size);
}
.temperature {
  font-size: var(--main-font-size);
}
.temp-degree {
  position: relative;
  top: -20px;
  font-size: 24px;
}

.Weather {
  max-width: 1000px;
  border: 1px solid var(--night-color);
  border-radius: 10px;
  margin: 0 auto;
  display: block;
  font-family: "East Sea Dokdo", cursive;
  line-height: 1.5;
  background-color: var(--day-color);
}
.main-body {
  max-width: 768px;
  border: 1px solid var(--night-color);
  border-radius: 2px;
  display: block;
  margin: 60px auto;
  background-color: white;
}

.Weather.dark-theme {
  background-color: var(--night-color);
  color: var(--day-color);
}
.main-body.dark-theme {
  background-color: var(--third-night-color);
}
.forecastBox.dark-theme {
  background-color: var(--secondary-night-color);
}
.search-box,
.date,
.feel-like,
.description {
  font-size: 22px;
}
.forecastBox {
  border: 1px solid var(--night-color);
  border-radius: 5px;
  margin: 0 auto;
  display: block;
  background-color: var(--day-color);
}
.temp {
  position: relative;
}
.show-button {
  display: block !important;
  margin: 0 auto !important;
  font-size: 26px !important;
}
.show-button.dark-theme {
  background-color: var(--secondary-night-color);
  color: var(--day-color);
}
@media (max-width: 980px) {
  .main-body {
    max-width: 600px;

    margin: 30px auto;
  }
}
@media (max-width: 1445px) {
  .leftedgebox {
    margin: 0px 0px 0px 20px;
  }
  .rightedgebox {
    margin: 0px 20px 0px 0px;
  }
}
